*{box-sizing:border-box;}
body{
    margin:0;
    padding-top: 80px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    height: 80px;
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0,1);
    border-bottom: 5px solid red;
    
    
}
.logo{
    width: fit-content;
    margin-left: 10px;
}

nav a {
    padding: 0 20px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: inline;
    vertical-align: middle;
    color: aliceblue;
     
}
.mobile-menu{
    display:none;
}
/*header div.dropdown{
    display:none;
}
header a.dropbtn{
    display:none;
}*/

.search ul{
    margin-top:0px;
    padding: 10px 300px;
    min-height: auto;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: dimgray;
    text-align: center;
    align-items: center;
}
.search li{
    
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: inline;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;   
}
.search a{
    
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    
}

/*variabili globali  */
:root {
    /*SLIDER */
    
    --big_width: 100%;
    --big_height: 40vw;
    --big_nav_width: 12%;/*ai  lati */
    --small_width: 100%;
    --small_height:60%;
    --small_nav_width: 18%;/*ai  lati */
  
    /* colori dei pallini */
    --colordot1: #795548;
    --colordot2: #2196F3;
    --colordot3: #4CAF50;
    --colordot4: #F44336;
    --nav_color: rgba(6, 185, 255, 0.2);
    --nav_hover_color: rgba(44, 221, 196, 0.53);
    --dot-width_big:18px;
    --dot-height_big:18px;
    --dot-width_small:12px;
    --dot-height_small:12px;
  }
  
  #container_slider {
    
    margin-top:36px;
    position:relative;
    width:100%;
    /*height: 0;   prima
    padding-bottom: $big_height;*/
    height:82vh;
    user-select: none; /*setto gli input radio a niente, nessuno checked all'utente, (di default parto col primo, settato in html)*/
    background-color: #1c1c1c;
    box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24);
    
  }
  
  #container_slider input {
    display: none;
  }
  
  #container_slider .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #container_slider img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  
  #container_slider .prev, #container_slider .next {
    width:var( --big_nav_width);
    height: inherit;
    position: absolute;
    top: 0;
    /*background-color: rgba(6, 185, 255, 0.2);*/
    /*z-index: 99;*/
    transition: .45s;
    cursor: pointer;
    text-align: center;
  }
  
  #container_slider .next {
    right: 0;
    animation: right-arrow 1s ease-in 0s forwards;
  }
  
  #container_slider .prev {
    left: 0;
    
  }
  @keyframes left-arrow{
    from{
        transform: translateX(0);
        opacity: 0;
    }
    to{
        transform: translateX(-20px);
        opacity:1;
        transition: all ease-in 0.33s;
    }
  }
  @keyframes right-arrow{
    from{
        transform: translateX(0);
        opacity: 0;
    }
    to{
        transform: translateX(-20px);
        opacity:1;
        transition: all ease-in 0.33s;
    }
  }
  
  #container_slider .prev:hover, #container_slider .next:hover {
    transition: .3s;
    /*background-color: rgba(44, 221, 196, 0.53);*/
    border-color: #4CAF50;
  }
  
  #container_slider .prev span, #container_slider .next span {
    position: absolute;
    width: 100px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    /* per centrare le freccine in verticale */
    
    /* per centrare le freccine in verticale */
    cursor: pointer;
  }
  
  #container_slider .prev span {
    border-color: transparent #fff transparent transparent;
    right: 45%;
    /*right/left: 45%; per "centrare" le freccine in orizzonatale */
  }
  
  #container_slider .next span {
    border-color: transparent transparent transparent #fff;
    left: 45%;
  }
  
  #container_slider #nav_slide {
    /*mini bottoncini sotto */
    
    width: 100%;
    bottom: 5%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* per centrare botto */
  }
  
  #container_slider .dots {
    /*mini button */
    width:var(--dot-width_big);
    height:var(--dot-height_big);
    
    position: relative;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.33s;
    cursor: pointer;
  }
  
  #container_slider #dot1:hover {
    background:var( --colordot1);
  }
  
  #container_slider #dot2:hover {
   background:var( --colordot2);
  }
  
  #container_slider #dot3:hover {
    background:var( --colordot3);
  }
  
  #container_slider #dot4:hover {
    background:var( --colordot4);
  }
  
  #container_slider #i1:checked ~ #one,
  #container_slider #i2:checked ~ #two,
  #container_slider #i3:checked ~ #three,
  #container_slider #i4:checked ~ #four {
    z-index: 9;
    opacity: 1;
    animation: scroll 0.33 ease-in-out;
  }
  
  /*quando sei sulla rispettiva slide */
  #i1:checked ~ #nav_slide #dot1 {
    background: #795548;
      
  }
  
  #i2:checked ~ #nav_slide #dot2 {
    background: #F44336;  
  }
  
  #i3:checked ~ #nav_slide #dot3 {
    background: #2196F3;  
  }
  
  #i4:checked ~ #nav_slide #dot4 {
    background: #4CAF50;  
  }
  
  @keyframes scroll {
    from {
      opacity: .2;
    }
    to {
      opacity: 1;
    }
  }
  
  

.banner{
    min-height: 90vh;
    padding: 1rem 1rem;
    width: 100%;
    background-color: beige;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    background-image: url(https://nerariyan.com/wp-content/uploads/2022/02/photography.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
	/* linear-gradient(218deg, rgba(195,195,243,1), rgba(255,188,188,0.81)); */
    transition: all ease-in 0.93s;
}
.banner>div{
    padding:20px 100px;
}
.banner h1{
    margin-bottom: 5px;
    font-size: 100px;
    /*text-transform: uppercase;*/
    color: snow;
    font-family: Dancing Script;
    line-height: none;
    
}
.banner h5{
    margin-top: 0%;
    font-size: 60px;
    text-align: right;
    /*text-transform: uppercase;*/
    font-family: Dancing Script;
    color: snow;
}


.content{
    /*min-height: 100vh; */
    padding: 6rem 10rem;
    height:auto;
    width: 100%;
    background-color: beige;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background: 
	linear-gradient(218deg, rgba(195,195,243,1), rgba(255,188,188,0.81));
   /* transition: all ease-in 2.93s; */
}
.content-data{
    /*min-height: 100vh; */
    
    height:auto;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    
}
.content-data p{
    padding:0 25px;
    
    justify-content: end;
    line-height: 1.5;
    text-align: justify;
}


.content:hover{
    background: 
	linear-gradient(180deg, rgba(195,195,243,1), rgba(255,188,188,0.81));
    transition: all ease-in 2.93s;
    cursor: pointer;
} 
.contact{
    /*min-height: 100vh; */
    padding: 25px 25px;
    height:auto;
    width: 100%;
    background-color: beige;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background: 
	linear-gradient(218deg, rgba(195,195,243,1), rgba(255,188,188,0.81));
   /* transition: all ease-in 2.93s; */
}
.contact-data{
    /*min-height: 100vh; */
    padding: 25px 150px;
    
    height:auto;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items:start;
    justify-content:center;
    gap: 10rem;
}
.contact-data>div{
    width:100%;

}
.contact-data a{
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    font-family: "Quattrocento",serif;
    font-weight: 400;
    line-height: 1.5em;
    direction: ltr;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 8px 54px;
    margin: 0 0 16px;
    background-color: #88b06a;
    border-radius: 40px;
    border-color: #88b06a;
    transition: 0.4s;
}
.contact a:hover{
    background-color:white;
    color:#88b06a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.contact-data li{
    
    text-decoration: none;
    list-style: none;
    
}
.contact-data ul{
    padding: 0%;

}
.contact-data i{
   color:green;
   font-size: 20px;
   margin-right: 10px;
}
.contact-data i:hover{
    background-color:white;
    color:#88b06a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



footer{
    background-color: rgb(207, 157, 255);
    color:aliceblue;
    min-height: auto;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: Dancing Script;
}
footer h5{
    margin:0;
    text-align: center;
}
.footer-box{
    height:auto;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:1rem;
    padding:0 10rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-box > div{
    width:100%;
    min-height:auto;

}


.footer-box a{
    text-decoration: none;
    color:aliceblue;
}
.footer-box li{
    list-style: none;
    line-height: 3;
}
.footer-link{
    text-align: center;
}
.footer-link .icon{
    /*transform: translateY(-20px);
    transition: all ease-in 0.33s;*/
    animation: arrow 1s ease-in 0s infinite forwards;
}
.footer-social{
    text-align:center ;
}
.footer-social a{
    margin: 10px;
}
.footer-contact{
    padding:0 20px;
}
@keyframes arrow{
    from{
        transform: translateY(0);
        opacity: 0;
    }
    to{
        transform: translateY(-20px);
        opacity:1;
        transition: all ease-in 0.33s;
    }
}

.review{
    /*min-height: 100vh; */
    padding: 6rem 10rem;
    height:auto;
    width: 100%;
    /*background-color: beige;*/
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    /*background-image: url(https://content.jdmagicbox.com/comp/def_content/photo_studios/default-photo-studios-8.jpg?clr=006600);*/
    background: 
	linear-gradient(218deg, rgba(195,195,243,1), rgba(255,188,188,0.81));
    transition: all ease-in 2.93s;
}

.review iframe{
    width:100%;
    height:420px;
}
.review:hover{
    background: 
	linear-gradient(180deg, rgba(195,195,243,1), rgba(255,188,188,0.81));
    transition: all ease-in 2.93s;
    cursor: pointer;
} 
.review-data{
    /*min-height: 100vh; */
    
    height:auto;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}
.review-data h1{
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.checked {
    color: orange;
  }
.review-data p{
    margin-top: 0px;
    margin-bottom: 5px;
    /*margin-left: 120px;*/
    /*font-size: 20px;*/
    letter-spacing: 19px;
}
.review-data a{
    text-decoration: none;
    color:rgb(57, 57, 177);
    padding-right: 0px;
}
.review-write{
    margin-left: 20px;
}
 

@media only screen and (max-width: 768px) {
    nav a{
        display:none;
    }
    .search{
        display:none;
    }



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: black;
    /*margin: 15% auto;  15% from the top and centered */
    padding: 20px;
    height:100%;
    width: 100%; /* Could be more or less, depending on screen size */
    opacity: 90%;

  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }
  /* Modal Header */
  .modal-header {
    padding: 2px 16px;
    background-color: black;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {
    background-color:rgba(0,0,0,1);
    padding: 2px 16px;
    color:white;
    height:calc(100vh - 74px);
    border-color: none;
  }
  .modal-body li{
    list-style: none;
    line-height:70px;
    text-align: center;
    width:100%
  }
  .modal-body li:hover{
      background-color:grey;
  }
  .modal-body a{
    padding: 0px 15px;
    width:100%;
    color:white;
    justify-content:center;
    text-decoration:none;
    font-size:20px;
    line-height:2;
  }
  
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.3s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
      /* Dropdown Button */
      .mobile-menu{
        display: flex;
        justify-items: center;
        align-items: center;
    }
.dropbtn {
    /*background-color: #04AA6D;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: none}

  .content:hover{
    background: 
	linear-gradient(180deg, rgba(195,195,243,1), rgba(255,188,188,0.81));
    transition: all ease-in 2.93s;
    cursor: pointer;
} 


    #container_slider {
       
       width:100%;
       height:250px;
   
     }
   
     .slide_img .prev, .slide_img .next {
       width:auto;
     }
   
     .slide_img .prev span, .slide_img .next span {
       border: 12px;
     }
     #container_slider .prev span {
        border-color: transparent #fff transparent transparent;
        width:auto;
        /*right/left: 45%; per "centrare" le freccine in orizzonatale */
      }
      #container_slider .next span {
        border-color: transparent transparent transparent #fff;
        width:auto;
      }


   
     #nav_slide .dots {
       width:var(--dot-width_small);
       height:var(--dot-height_small);
     }
   

    .banner{
        min-height: auto;
        padding: 0;
        flex-direction:column;
        width:auto;
        align-items: flex-start;
        justify-content: center;
        background-size:100%;
        background-repeat:no-repeat;
        margin: 0;
        
    }
    .banner>div{
        padding:25px 25px;
    }
    .banner h1{
        /*font-size: xx-large;*/
        margin-bottom: 0%;
        font-size: 33px;
        padding:5px 5px;
    }
    .banner h5{
        margin-top: 0%;
        font-size:20px;
        text-align: right;
    }


.content{
    
    padding: 70px 0px;
    overflow-y:hidden;
    height:auto;
    width:100%;
    overflow-x: hidden;
}

.content-data{
    display:flex;
    flex-direction: column;
    padding: 0px 0px;
    height:auto;
    width:100%;
    min-height:auto;
}
.review{
    
    padding: 70px 0px;
    overflow-y:hidden;
    height:auto;
    width:100%;
    overflow-x: hidden;
}
.review iframe{
    width:100%;
    height:550px;
}
.review-data{
    display:flex;
    flex-direction: column;
    padding: 0px 0px;
    height:auto;
    width:100%;
    min-height:auto;
}
.review-data h1{
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.review-data p{
    margin-top: 0px;
    margin-bottom: 5px;
    /*margin-left: 120px;*/
    /*font-size: 20px;*/
    letter-spacing: 19px;
}
.review-data a{
    text-decoration: none;
    color:rgb(57, 57, 177);
    padding-right: 0px;
}
.review-write{
    margin-left: 20px;
}

.content-data p{
    padding: 25px 25px;
}
.footer-box{
    display:flex;
    flex-direction: column;
    padding: 25px 25px;
    min-height:auto;
    width:100%;
}
.contact{
    padding: 0 25px;
}
.contact-data{
    display:flex;
    flex-direction: column;
    padding: 25px 0px;
    min-height:auto;
    width:auto;
    text-align: center;
}
iframe{
    
    width: auto;
    padding:0;
}
}